{% extends "base.html" %}
{% block title %}Terms and Conditions - {% endblock %}


{% block content %}
<div class="container px-30 pb-5"> 

    <h1 class="text-uppercase text-primary text-center mb-4 pt-5">Terms and Conditions</h1>

    <div class="mt-5 mb-5">
        <div class="mb-5">
            <h2 class="text-primary border-bottom pb-2 fs-2 pb-2 mb-2">1. Acceptance of Terms</h2>
            <p>
                By accessing or using the services provided by NaviCavi, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions. If you do not agree to any of these terms, you should cease using the platform immediately. Continued use of the platform indicates acceptance of the updated terms.
            </p>    
        </div>

        <div class="mb-5">
            <h2 class="text-primary border-bottom pb-2 fs-2 pb-2 mb-2">2. Service Overview</h2>
            <p>
                NaviCavi is a digital platform that uses artificial intelligence to assist in the detection of dental caries by analyzing panoramic X-ray images. Our AI model processes images solely for the purpose of identifying potential carious teeth. It is important to note that NaviCavi is not a substitute for professional dental consultation and is intended as a supplementary tool for dental diagnostics.
            </p>
            <p>
                The platform does not collect or retain any personal information from users, and all images uploaded are processed and handled anonymously. However, by using the platform, you consent to the use of anonymized images for the ongoing training and improvement of our AI system.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-primary border-bottom pb-2 fs-2 pb-2 mb-2">3. User Obligations and Conduct</h2>
            <p class="pb-3">
                When using NaviCavi, you agree to conduct yourself in a responsible and lawful manner. Specifically, you agree to adhere to the following conditions:
            </p>
            <ul>
                <li class="pb-3">Use the platform only for its intended purpose, which is to analyze X-ray images for the detection of carious teeth.</li>
                <li class="pb-3">Do not upload any content that is unlawful, inappropriate, offensive, or that infringes on intellectual property rights, including but not limited to, images that are obscene, defamatory, or violate copyright or privacy laws.</li>
                <li class="pb-3">Do not attempt to manipulate, disrupt, or interfere with the functioning of the platform, its AI model, or its underlying technology in any manner. This includes, but is not limited to, introducing malware, attempting to reverse engineer the technology, or bypassing security measures.</li>
            </ul>
        </div>

        <div class="mb-5">
            <h2 class="text-primary border-bottom pb-2 fs-2 pb-2 mb-2">4. Disclaimers and Limitation of Warranty</h2>
            <p>
                NaviCavi provides its services on an "as is" and "as available" basis. We make no representations or warranties of any kind, express or implied, regarding the accuracy, reliability, or availability of the platform, including but not limited to the accuracy of results produced by our AI model. While we strive to ensure the quality of our services, we do not guarantee error-free performance or uninterrupted service.
            </p>
            <p>
                By using NaviCavi, you acknowledge that the results provided are not a replacement for professional medical or dental advice, diagnosis, or treatment. Always consult a qualified healthcare provider for any dental concerns or questions you may have.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-primary border-bottom pb-2 fs-2 pb-2 mb-2">5. Limitation of Liability</h2>
            <p>
                To the fullest extent permitted by law, NaviCavi shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from your use or inability to use the platform. This includes, but is not limited to, damages for loss of data, business interruption, or any other commercial or personal damages or losses, even if NaviCavi has been advised of the possibility of such damages.
            </p>
            <p>
                You assume full responsibility for any use of the platform, and any decisions or actions taken based on the results provided by NaviCavi are solely at your own risk.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-primary border-bottom pb-2 fs-2 pb-2 mb-2">6. Indemnification</h2>
            <p>You agree to indemnify and hold NaviCavi harmless from any claims, liabilities, damages, or losses arising out of or in connection with your use of our platform or your violation of these Terms and Conditions.</p>
        </div>

        <div class="mb-5">
            <h2 class="text-primary border-bottom pb-2 fs-2 pb-2 mb-2">7. Modifications to the Terms and Services</h2>
            <p>
                NaviCavi reserves the right to modify or update these Terms and Conditions at any time. Any changes will be posted on this page, and it is your responsibility to review the Terms and Conditions periodically. Your continued use of the platform following any updates to the Terms constitutes acceptance of those changes.
            </p>
            <p>
                Additionally, NaviCavi may modify, suspend, or discontinue its services (or any part thereof) at any time without prior notice. NaviCavi will not be held liable for any modifications, suspension, or discontinuation of services.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-primary border-bottom pb-2 fs-2 pb-2 mb-2">8.Termination</h2>
            <p>
                NaviCavi reserves the right to terminate or suspend your access to the platform at its sole discretion, with or without cause, and without prior notice. Any violation of these Terms and Conditions may result in immediate termination of your access. Upon termination, your right to use the platform ceases immediately, and you will no longer have access to any previously uploaded content.
            </p>
        </div>
        
        <p class="text-center"><strong>Last Updated:</strong> September 05, 2024</p>
        <p class="text-center pt-5">By using NaviCavi, you agree to the terms outlined in this Terms and Conditions.</p>
    </div>
</div>
{% endblock %}
